<div ng-controller="MoviePageCtrl">
    <section class="pt-2 text-center container">
        <div ng-show="showLoader" class="pv-3">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div ng-show="showLoadError" class="pv-3">
            Error occurred! Please, try to reopen this page.
        </div>

        <div ng-show="movieData" class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ movieData.title }}</h1>
            <p class="lead text-muted">Director: {{ movieData.director }}</p>
        </div>
    </section>
    <div class="album py-2 bg-light">
        <div class="container">
            <div ng-show="showCommentsLoader" class="pv-3">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div ng-show="showCommentsLoadError" class="pv-3">
                Error occurred! Please, try to reopen this page.
            </div>

            <div class="px-4">
                <span ng-show="!!commentsData.length" class="fs-5 fw-semibold">Comments about this film:</span>
                <div class="mt-3 list-group-item">
                    <div ng-show="showThankYou">
                        Thank you for your comment!
                    </div>
                    <form ng-show="!showThankYou" name="commentForm" ng-submit="submitForm()" >
                        <div class="row">
                            <label class="mb-3 col-4 form-label">
                                Your name or nickname
                                <input type="text" class="form-control" ng-model="newComment.author" required>
                            </label>
                            <label class="mb-3 col-2 form-label">
                                Rating
                                <input type="number" min="0" max="5" class="form-control" ng-model="newComment.rating" required>
                            </label>
                            <label class="mb-3 offset-md-4 col-2 form-label">
                                Language
                                <input type="text" class="form-control" ng-model="newComment.language" readonly />
                            </label>
                        </div>
                        <div class="row">
                            <label class="mb-3 col-12 form-label">
                                Comment
                                <textarea class="form-control" ng-model="newComment.comment" ></textarea>
                            </label>
                        </div>
                        <button type="submit" class="col-2 offset-md-10 btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="my-3 list-group">
                    <div ng-repeat="comment in commentsData" class="list-group-item py-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <strong class="mb-1">{{ comment.author }}</strong>
                            <small class="text-muted">{{ comment.rating }} stars</small>
                        </div>
                        <div class="col-10 mb-1 small">{{ comment.comment }}</div>
                        <small class="text-muted">{{ comment.date | date: "longDate" }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


