<div ng-controller="AddClientPageCtrl">
    <form name='clientForm' ng-submit="submitForm()" class="row">
        <label class="form-label col-6 mb-3">
            First name
            <input type="text"
                   class="form-control"
                   ng-model="client.firstName"
                   required>
        </label>

        <label class="form-label col-6 mb-3">
            Last name
            <input type="text"
                   class="form-control"
                   ng-model="client.lastName"
                   required>
        </label>

        <label class="form-label col-6 mb-3">
            Phone number
            <input type="text"
                   class="form-control"
                   name="telNumber"
                   ng-model="client.telNumber"
                   ng-pattern="/^\+?\d+$/"
                   required>
        </label>

        <label class="form-label col-6 mb-4">
            Birthday
            <input type="date"
                   class="form-control"
                   ng-model="client.birthDate"
                   required>
        </label>

        <div class="offset-10 col-2">
            <button ng-disabled="clientForm.$invalid"
                    type="submit"
                    class="btn btn-primary w-100">
                Add
            </button>
        </div>

        <p ng-show='clientForm.telNumber.$invalid'>
            Invalid phone number: digits only or digits with plus at beginning.
        </p>
    </form>
</div>
